<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="Jingzhou Wang" content="">
    <title>Course Page</title>

    <!-- Bootstrap core CSS -->
    <link href="stylesheets_wjz/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this project -->
    <link href="stylesheets_wjz/style.css" rel="stylesheet">

</head>

<div class="row">
    <div class="col-lg-12">
      {{#if success_msg}}
      <div class="alert alert-success">{{success_msg}}</div>
      {{/if}}

      {{#if error_msg}}
      <div class="alert alert-danger">{{error_msg}}</div>
      {{/if}}

      {{#if error}}
      <div class="alert alert-danger">{{error}}</div>
      {{/if}}
      
      {{{body}}}
  </div>
</div> 

<body>

    <!--NAVBAR SECTION START -->

    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">

        <div class="dropdown">
            <button class="navbar-toggler navbar-toggler-right dropbtn" type="button" data-toggle="collapse" data-target="#navbar-collapse-1" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="navbar-collapse-1" class="dropdown-content">
                <ul class="nav navbar-nav navbar-right" >
                {{#if user}}
                <li class="sampleText">Hi! <strong>{{username}}</strong></li>
                <a href="/users/profile">Profile</a>
                <a href="/users/logout">Log Out</a>
                {{else}}
                <a href="/users/signup">Sign Up</a>
                <a href="/users/login">Log In</a>
                {{/if}}
        </ul>
    </div>
</div>


<a class="navbar-brand" href="/">team_8</a>

<div class="collapse navbar-collapse" id="navbarCollapse">

    <form class="form-inline mt-2 mt-md-0" action="/" method="post">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" name="coursename"/>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    <ul class="navbar-nav ml-auto">
                {{#if user}}
                <a class="nav-link prompt"> Welcome! {{username}} has {{point}} points!</a>
                <li class="nav-item active">
                    <a class="nav-link" href="/users/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/logout">Log Out</a>
                </li>
                {{else}}
                <li class="nav-item active">
                    <a class="nav-link" href="/users/signup">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/login">Log In</a>
                </li>
                {{/if}}
            </ul>
        </div>
    </nav>

    <!--Course Page START -->

    <div class="container">

        <div class="jumbotron">

            <!--  <h1>CS307: Software Engineer</h1> -->
            <center>
                <h1>
                    <span id="Title" >{{Title}}</span>
                    <a class="hi"> (<span id="CreditHours">{{CH}}</span>)</a>
                </h1>
            </center>

            <!-- Course Description, We may need Purdue API Interface here -->

        </div>

        
    </div>

    <div class="container">
     <form action = "#" method="post" class="flexsearch--form">
        <div class="jumbotron2">
            <center>
                <input type="submit" name="type" class="btn btn-lg btn-primary2" value="Course Post"/>
                <input type="submit" name="type" class="btn btn-lg btn-primary2" value="Study Note"/>
                <input  hidden readonly type="text" name="Course_id" value={{CI}}>
            </center>
        </div>
    </form>
</div>

<div class="footer">
    <a class="company">&copy; 2017 team_8, Inc.</a>
</div>

<!--Josn Test Part START -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

</body>




</html>
