<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/stylesheets_wjz/bootstrap.min.css"/>
  <link rel="stylesheet" href="/stylesheets/signup.css"/>
  
  <script src="javascripts/modernizr.js"></script> <!-- Modernizr -->
  <title>Symposium</title>
</head>

<div class="row">
  <div class="col-lg-12">
    {{#if success_msg}}
    <div class="alert alert-success">{{success_msg}}</div>
    {{/if}}

    {{#if error_msg}}
    <div class="alert alert-danger">{{error_msg}}</div>
    {{/if}}

    {{#if error}}
    <div class="alert alert-danger">{{error}}</div>
    {{/if}}
    
    {{{body}}}
  </div>   
</div>


<body>
 <!--NAVBAR SECTION START -->

  <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">

    <div class="dropdown">
      <button class="navbar-toggler navbar-toggler-right dropbtn" type="button" data-toggle="collapse" data-target="#navbar-collapse-1" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div id="navbar-collapse-1" class="dropdown-content">
        <ul class="nav navbar-nav navbar-right" >
                {{#if user}}
                <a href="/users/profile">Profile</a>
                <a href="/users/logout">Log Out</a>
                {{else}}
                <a href="/users/signup">Sign Up</a>
                <a href="/users/login">Log In</a>
                {{/if}}
            </ul>
          </div>
        </div>


        <a class="navbar-brand" href="/">Symposium</a>

        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">
                  {{#if user}}
                  <li class="nav-item active">
                    <a class="nav-link" href="/users/profile">Profile</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/users/logout">Log Out</a>
                  </li>
                  {{else}}
                  <li class="nav-item active">
                    <a class="nav-link" href="/users/signup">Sign Up</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/users/login">Log In</a>
                  </li>
                  {{/if}}
            </ul>
          </div>
        </nav>
        <!-- END NAV BAR -->


      <div class="cd-user-modal-container"> <!-- this is the container wrapper -->
        <div id="cd-login"> <!-- log in form -->
          <form id="reset-form" class="cd-form" method="post" action="/users/reset/">
            <p class="fieldset">
              <label class="image-replace cd-username" for="password">New Password</label>
              <input class="full-width has-padding has-border" id="password" type="password" placeholder="New password" name="password" autofocus=true>
              <span class="strength"></span>
            </p>

            <p class="fieldset">
              <label class="image-replace cd-password" for="confirm">Confirm Password</label>
              <input class="full-width has-padding has-border" id="signin-password" type="password"  placeholder="Confirm password" name="confirm">
              <span class="cd-error-message">Error message here!</span>
            </p>
            <script>
            var decodedJson = decodeURIComponent("{{{token}}}");
            var jsonObj = JSON.parse(decodedJson);
            console.log(jsonObj);
            document.getElementById('reset-form').action = '/users/reset/' + jsonObj;
            </script>

            <p class="fieldset">
              <input class="full-width" type="submit" value="Update Password">
            </p>


          </form>
        </div> <!-- cd-login -->
      </div>

    <div class="footer">
      <a class="about" href="/about"><b>About us</b></a>
      <a class="contact" href="/contact"><b>Contact us</b></a>
      <a class="company">&copy; 2017 Symposium, Inc.</a>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/1.0/zxcvbn-async.min.js"></script>
    <script src="../stylesheets_wjz/assets/js/pwdstr.js"></script> <!-- Modernizr -->


    </body>
    </html>
